body {
  margin: 0;
}

main {
  height: 100vh;
  background-color: #000;
  color: white;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
}

.text-field {
  /* height: 70vh; */
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.span-two {
  grid-column: span 2;
  border-radius: 50px !important;
  display: flex;
  justify-content: start !important;
  padding-left: 20px !important;
}

#display {
  grid-column: 1/-1;
  background-color: orange;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  word-wrap: break-word;
  word-break: break-all;
  padding: 10px;
}

.btn {
  /* width: 70px;
  height: 70px; */
  background-color: #505050;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  padding: 7px;
  margin: 6px;
  font-size: larger;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  cursor: pointer;
}

.operator-btn,#equal-btn {
  background-color: #ff9500;
}

.num-btn {
  background-color: ;
}

.top-btn {
  background-color: #d4d4d2;
  color: #000;
}

.btn > h1,
h2 {
  margin: 0;
  font-size: xx-large;
  font-weight: bolder;
}
