body{
  margin: 0;
}

main {
  height: 100vh;
  background-color: #1C1C1C;
  color: white;
  width: 100%;
}

#display-text{
  height: 28vh;
  display: flex;
  justify-content:end;
  align-items: flex-end;
  padding: 0 15px 0 0;
}

.text-field {
  /* height: 70vh; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  margin: 10px;
}

.btn {
  width: 60px;
  height: 60px;
  background-color: #505050;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  margin: 5px;
  font-size: larger;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover{
  cursor: pointer;
}

.operator-btn{
  background-color: #FF9500;
}

.num-btn{
  background-color: ;
}

.top-btn{
  background-color: #D4D4D2;
  color:#000;
}

.btn>h1, h2 {
  margin: 0;
  font-size: xx-large;
  font-weight: bolder;
}


